@model BelagricolaMVC.Models.ViewModel.TelefoneFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Adicionar Telefone</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="telefone.ContatoId" />
            <div class="form-group">
                <label asp-for="Contato.Nome" class="control-label"></label>
                <input asp-for="Contato.Nome" class="form-control" readonly />
                <span asp-validation-for="Contato.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone.Tel" class="control-label"></label>
                <input asp-for="telefone.Tel" class="form-control" />
                <span asp-validation-for="telefone.Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn">Cancelar</a>
                <input type="submit" value="Adicionar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
