@model BelagricolaMVC.Models.Telefone

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar Telefone</h2>

<h3>Você tem certeza que deseja apagar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn">Voltar</a>
        <input type="submit" class="btn btn-danger" value="Apagar" class="btn btn-default" />
    </form>
</div>
