@model IEnumerable<BelagricolaMVC.Models.Telefone>

@{
    ViewData["Title"] = "Index";
}

<h2>Telefones</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><b>Editar</b></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><b>Excluir</b></a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-success" asp-action="Create">Adicionar</a>
</p>