@model ErrorViewModel

<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <h3><strong>Request ID:</strong> <code>@Model.RequestId</code></h3>
    </p>
}
@if (Model.ErrorMessage!="")
{
<p>
    <h3><code>@Model.ErrorMessage</code></h3>
</p>
}